header {
    background-color: #FFE521;
    height: 100px;
}
#lab {
    width: 300px;
    background-color: white;
    border-right-color: #333333;
    border-right-style: solid;
    display: block;
    flex-direction: column;
    height: 800px;
    position: static;

}
#circulosPosicion{
    display: inline-block;
}
.circulo {
    height: 100px;
    width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF009E; 
    margin: 20px;
    text-align: center;
}