header {
    background-color: #FFE521;
    height: 150px;
    
}
.circulo {
    height: 100px;
    width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF009E; 
    margin: 20px;
    text-align: center;
}